<ion-view>
  <ion-header-bar>
    <h1 class="title">New Player</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="$ctrl.goBack()">Cancel</button>
    </div>
  </ion-header-bar>

  <ion-content class="newplayer">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Player Name</span>
            <input ng-model="$ctrl.name" type="text" placeholder="darth_Vader" focus-me>
        </label>
        <ion-checkbox ng-show="$root.currentUser" ng-model="$ctrl.claim">Claim player</ion-checkbox>
        <button class="button button-full button-positive" ng-click="$ctrl.newPlayer()">Save</button>
    </div>
  </ion-content>
</ion-view>
