<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-nav-title>
      Players
    </ion-nav-title>
  <ion-nav-buttons side="right">
    <button ui-sref="tab.newplayer"
        class="button button-clear button-positive button-icon ion-ios-personadd-outline"></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view view-title="Players">
  <ion-content>
    <ion-list type="list-inset">
      <ion-item ng-repeat="player in $ctrl.players | orderBy:'name'" class="item-text-wrap" type="item-text-wrap" ng-click="$ctrl.toggleInfo(player)">
        <h2><i class="icon ion-person"></i> {{ player.name }}</h2>
        <span class="badge" ng-class="player.elo < 1500 ? 'badge-assertive' : 'badge-balanced'">{{ player.elo }}</span>
        <span ng-if="$ctrl.showPlayerInfo == player._id">Joined {{ player.joinDate | calendar }}</span>
        <ion-option-button ng-if="$ctrl.currentUser()" class="button-balanced" ng-click="$ctrl.changeNameModal(player)">
          Change name
        </ion-option-button>
        <ion-option-button ng-if="$ctrl.isAdmin()" class="button-assertive" ng-click="$ctrl.eloPenalty(player)">
          Elo penalty
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
