<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Rename {{ $ctrl.changePlayer.name }}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Name" ng-model="$ctrl.changePlayer.name">
      </label>
      <button class="button button-small" ng-click="$ctrl.submitName()">
        Submit
      </button>
      <button class="button button-small" ng-click="$ctrl.closeModal()">
        cancel
      </button>
    </div>
  </ion-content>
</ion-modal-view>
