<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change player name</h1>
  </ion-header-bar>
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Name" ng-model="chname">
      </label>
      <button class="button button-small" ng-click="$ctrl.submitName(chname)">
        Submit
      </button>
      <button class="button button-small" ng-click="$ctrl.closeModal()">
        cancel
      </button>
    </div>
  </ion-content>
</ion-modal-view>
