<ion-header-bar>
  <h1 class="title">New User</h1>
  <div class="buttons">
    <button class="button button-clear button-positive" ng-click="$ctrl.goBack()">Cancel</button>
  </div>
</ion-header-bar>
<ion-view class="new-user-pane">
  <ion-content class="padding">
    <ion-item class="card padding">
      <div class="item-text-wrap padding">
        Enter User Name, Email and Password to create an account
      </div>

      <label class="item item-input">
        <input type="text" ng-model="$ctrl.credentials.username" placeholder="UserName" />
      </label>
      <label class="item item-input">
        <input type="email" ng-model="$ctrl.credentials.email" placeholder="E-Mail" />
      </label>
      <label class="item item-input">
        <input type="text" ng-model="$ctrl.profile.firstname" placeholder="Firstname" />
      </label>
      <label class="item item-input">
        <input type="text" ng-model="$ctrl.profile.lastname" placeholder="Lastname" />
      </label>
      <label class="item item-input">
        <input type="password" ng-model="$ctrl.credentials.password" placeholder="Password" />
      </label>
      <div class="padding">
        <button class="button button-block" ng-click="$ctrl.newUser()" ng-disabled="!$ctrl.allReady()">Create Account</button>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
