<ion-header-bar>
  <h1 class="title">Settings</h1>
</ion-header-bar>

<ion-view>
  <ion-content class="padding">

    <ion-item class="card padding" ng-show="!$ctrl.currentUser()">
      <div class="item-text-wrap padding">
        Enter User Name and Password to Login to Application
      </div>

      <label class="item item-input">
        <input type="text" ng-model="$ctrl.credentials.username" placeholder="UserName" />
      </label>
      <label class="item item-input">
        <input type="password" ng-model="$ctrl.credentials.password" placeholder="Password" />
      </label>
      <div class="padding">
        <button class="button button-block" ng-click="$ctrl.doLoginAction()">Login</button>
        <button class="button button-block" ui-sref="tab.newuser">Create Account</button>
      </div>
    </ion-item>

    <ion-item class="card padding" ng-show="$ctrl.currentUser()">
      You are logged in as {{ $ctrl.fullname() }}.
      <button class="button button-block" ng-click="$ctrl.doLogoutAction()">Log out</button>
    </ion-item>
    <ion-list type="list-inset">
      <ion-item ng-if="$ctrl.isAdmin()" ng-repeat="user in $ctrl.users" class="item-text-wrap item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="/img/ionic.png" ng-if="user.profile.role == 'admin'">
        {{ user.username }}<br>
        <ion-option-button class="button-stable" ng-click="$ctrl.toggleAdmin(user)" ng-if="user.username != 'admin'">
          Toggle admin
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="$ctrl.remove(user)" ng-if="user.profile.role != 'admin'">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
