<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-nav-title>
      Games
    </ion-nav-title>
  <ion-nav-buttons side="left">
    <pre>{{ games.role }}</pre>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-hide="games.inprogress" ng-click="games.showNewGameModal()" class="button button-clear button-positive button-icon ion-plus-round"></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view view-title="Games">
  <ion-content>
    <div class="card game-inprogress" ng-show="games.inprogress">
      <div class="item item-divider">
        Game in progress
        <a ng-click="games.trashGameInProgressModal()" class="item-icon-right">
            <i class="icon ion-trash-a"></i>
        </a>
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <h1>{{games.inprogress.teamRedScore }}</h1></div>
            </div>
            <div class="row">
              <div class="col">{{games.inprogress.teamRed | team}}</div>
            </div>
            <div class="row">
              <div class="col">
                <button class="button button-assertive scorebutton" ng-click="games.scored('red')">Goal!</button>
              </div>
            </div>
          </div>
          <div class="col col-center content-center">vs.</div>
          <div class="col">
            <div class="row">
              <div class="col">
                <h1>{{games.inprogress.teamBlueScore }}</h1></div>
            </div>
            <div class="row">
              <div class="col">{{games.inprogress.teamBlue | team}}</div>
            </div>
            <div class="row">
              <div class="col">
                <button class="button button-positive scorebutton" ng-click="games.scored('blue')">Goal!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        Started: {{games.inprogress.startDate | calendar}}
      </div>
    </div>
    <ion-list type="list-inset">
      <ion-item ng-repeat="game in games.data | orderBy: '-startDate'" class="item-game item-text-wrap" type="item-text-wrap">

        <div class="row">
          <div class="col">
            <h3>{{game.teamRed | team}}</h3>
            <h1 class="title score">{{ game.teamRedScore }}</h1>
          </div>
          <div class="col col-center content-center">vs.</div>
          <div class="col">
            <h3>{{game.teamBlue | team}}</h3>
            <h1 class="title score">{{ game.teamBlueScore }}</h1>
          </div>
        </div>
        <div class="col">
        </div>
        <div class="row">
          <div class="col">Started: {{game.startDate | calendar}} duration: {{game.startDate | duration: game.endDate}} minutes</div>
        </div>
        <div class="col">
        </div>
        <ion-option-button class="button-assertive" ng-click="games.remove(game)">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>