<ion-item class="item-game item-text-wrap" type="item-text-wrap">

  <div class="row">
    <div class="col">
      <h3>{{$ctrl.game.teamRed | team}}</h3>
    </div>
    <div class="col col-center content-center">vs.</div>
    <div class="col">
      <h3>{{$ctrl.game.teamBlue | team}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="title score">{{ $ctrl.game.teamRedScore }}</span>
    </div>
    <div class="col col-center content-center"></div>
    <div class="col">
      <span class="title score">{{ $ctrl.game.teamBlueScore }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <sup>({{ $ctrl.game.winner === $ctrl.game.teamRed._id ? "+" + $ctrl.game.eloChange : "-" + $ctrl.game.eloChange }})</sup>
    </div>
    <div class="col col-center content-center"></div>
    <div class="col">
      <sup>({{ $ctrl.game.winner === $ctrl.game.teamRed._id ? "-" + $ctrl.game.eloChange : "+" + $ctrl.game.eloChange }})</sup>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <sup>Started: {{$ctrl.game.startDate | calendar}}</sup><br/>
      <sup>Duration: {{$ctrl.game.startDate | duration: $ctrl.game.endDate}} minutes</sup>
    </div>
  </div>
  <ion-option-button class="button-assertive" ng-click="$ctrl.remove(game)">
    Delete
  </ion-option-button>

</ion-item>
