<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-nav-title>
      Games
    </ion-nav-title>
  <ion-nav-buttons side="left">
    <pre>{{ $ctrl.role }}</pre>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-hide="$ctrl.inprogress" ng-click="$ctrl.showNewGameModal()" class="button button-clear button-positive button-icon ion-plus-round"></button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view view-title="Games">
  <ion-content>
    <game-in-progress ng-show="$ctrl.inprogress" game="$ctrl.inprogress" controls="true"></game-in-progress>
    <ion-list type="list-inset">
      <game-detail ng-repeat="game in $ctrl.gamesList | orderBy: '-startDate'" game="game"></game-detail>
    </ion-list>
  </ion-content>
</ion-view>
