<div class="card game-inprogress">
  <div class="item item-divider">
    Game in progress
    <a ng-click="$ctrl.trashGameInProgressModal()" class="item-icon-right" ng-if="$ctrl.controls">
        <i class="icon ion-trash-a"></i>
    </a>
  </div>
  <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h1>{{ $ctrl.game.teamRedScore }}</h1>
          </div>
          <div class="col">
            <h1>{{ $ctrl.game.teamBlueScore }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-assertive scorebutton" ng-click="$ctrl.scored($ctrl.game.teamRed.defender._id)" ng-if="$ctrl.controls">
              <h3>{{ $ctrl.game.teamRed.defender._id | player_name }}</h3>scored! ({{ $ctrl.game.teamRed.defender.goals }})
            </button>
            <span ng-if="!$ctrl.controls">
              <h3>{{ $ctrl.game.teamRed.defender._id | player_name }} scored {{ $ctrl.game.teamRed.defender.goals }} goals</h3>
            </span>
          </div>
          <div class="col">
            <button class="button button-positive scorebutton" ng-click="$ctrl.blueDefenderScored()" ng-if="$ctrl.controls">
              <h3>{{ $ctrl.game.teamBlue.defender._id | player_name }}</h3>scored! ({{ $ctrl.game.teamBlue.defender.goals }})
            </button>
            <span ng-if="!$ctrl.controls">
              <h3>{{ $ctrl.game.teamBlue.defender._id | player_name }} scored {{ $ctrl.game.teamBlue.defender.goals }} goals</h3>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-assertive scorebutton" ng-click="$ctrl.redAttackerScored()" ng-if="$ctrl.controls">
              <h3>{{ $ctrl.game.teamRed.attacker._id | player_name }}</h3>scored! ({{ $ctrl.game.teamRed.attacker.goals }})
            </button>
            <span ng-if="!$ctrl.controls">
              <h3>{{ $ctrl.game.teamRed.attacker._id | player_name }} scored {{ $ctrl.game.teamRed.attacker.goals }} goals</h3>
            </span>
          </div>
          <div class="col">
            <button class="button button-positive scorebutton" ng-click="$ctrl.blueAttackerScored()" ng-if="$ctrl.controls">
              <h3>{{ $ctrl.game.teamBlue.attacker._id | player_name }}</h3>scored! ({{ $ctrl.game.teamBlue.attacker.goals }})
            </button>
            <span ng-if="!$ctrl.controls">
              <h3>{{ $ctrl.game.teamBlue.attacker._id | player_name }} scored {{ $ctrl.game.teamBlue.attacker.goals }} goals</h3>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h2>Playing for</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>+{{ $ctrl.winStats().redWinElo }} points ({{ $ctrl.winStats().redWinChance }}%)</h2>
          </div>
          <div class="col">
            <h2>+{{ $ctrl.winStats().blueWinElo }} points ({{ $ctrl.winStats().blueWinChance }}%)</h2>
          </div>
        </div>

  </div>
  <div class="item item-divider">
    Started: {{$ctrl.game.startDate | calendar}} duration: {{ $ctrl.duration() }} minutes
  </div>
</div>
