<ion-view class="new-game-pane">
  <ion-header-bar>
    <h1 class="title">New Game</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="newgame.goBack()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
      <button ui-sref="tab.newteam" class="button button-clear button-positive button-icon ion-plus-round">Add team</button>
      <form class="new-game-form">
        <div class="team-red row row-top">
          <label class="team-select item item-select" name="teamRed">
              <span class="input-label">Red team</span>
              <select ng-options="r._id | team for r in newgame.redteams track by r._id" name="teamRed" ng-model="newgame.teamRed" ng-change="newgame.selectTeam()"></select>
          </label>
        </div>
        <div class="game-controls row row-center">
            <!--<ion-item ng-show="newgame.ready" class="item-divider content-center">vs.</ion-item>-->
            <div ng-show="newgame.selectMessage" class="bar bar-header bar-assertive">
              <h1 class="title">{{ newgame.selectMessage }}</h1>
            </div>
            <!--<span ng-show="newgame.selectMessage">{{ newgame.selectMessage }}</span>-->
            <button ng-disabled="newgame.enabled" ng-click="newgame.newGame()" class="button button-positive button-default button-small content-center">Game on!</button>
        </div>
        <div class="team-blue row row-bottom">
          <label class="team-select item item-select" name="teamBlue">
              <span class="input-label">Blue team</span>
              <select ng-options="b._id | team for b in newgame.blueteams track by b._id" name="teamBlue" ng-model="newgame.teamBlue" ng-change="newgame.selectTeam()"></select>
          </label>
        </div>
      </form>
  </ion-content>
</ion-view>