<ion-view class="new-game-pane">
  <ion-header-bar>
    <h1 class="title">New Game</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="newgame.goBack()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list type="list-inset">
      <ion-item
            ng-repeat="player in newgame.players"
            ng-click="newgame.selectPlayer(player.id)"
            class="item-team item-remove-animate item-avatar"
            type="item-text-wrap">

        <h3>{{ player.name }}</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>