.score {
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.game-inprogress {
  margin-top: 50px;
  h1 {
    font-weight: bold;
    width: 30%;
    margin: 0 auto;
  }
  h2 {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
  }
  .scorebutton {
    h3 {
      color: white;
      font-size: 1.4em;
    }
    width: 100%;
    height: 8em;
  }

  .button.reverting {
    animation: shaking .1s infinite;

    &.revertok {
      background-color: #fff;
      border-color: currentColor;
      color: #ef473a;
      h3 {
        color: #ef473a;
      }
    }
  }
}

@keyframes shaking {
  0% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
