.new-team-pane {
  .new-team-form {
    height: 100%;
    .player-select {
      margin-top: 10px;
      width: 100%;
    }
    .content-center {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
