.new-game-pane {
  background: url(img/soccerfield.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .game-inprogress {
    .content-center {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .item-game {
    .content-center {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .new-game-form {
    height: 100%;
    .team-select {
      width: 100%;
    }
    .team-red {
      position: absolute;
      top: 10%;
    }
    .team-blue {
      position: absolute;
      bottom: 10%;
    }
    .game-controls {
      position: absolute;
      bottom: 50%;
    }
    .content-center {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
