.yours .item-content {
  border: 1px dotted red;
}

.player {
  color: #999;

  .info {
    font-size: 0.9rem;
    padding-left: 20px;
  }

  .retired {
    position: absolute;
    top: 4px;
    left: 60px;
    opacity: 0.8;
  }
}
