<ion-view view-title="Players">
  <ion-nav-buttons side="right">
    <button ng-click="players.showNewPlayerModal()"
        class="button button-clear button-positive button-icon ion-ios-personadd-outline"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" ng-repeat="player in players.data | orderBy:'name'">
      <div class="col col-50"><h4>{{ player.name }}</h4></div>
      <div class="col">Elo: {{ player.elo }}</div>
      <div class="col">Joined {{ player.joinDate | calendar }}</div>
    </div>
  </ion-content>
</ion-view>
