<ion-view view-title="Teams">
  <ion-nav-buttons side="right">
    <button ng-click="teams.showNewTeamModal()"
        class="button button-clear button-positive button-icon ion-plus-round"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list type="list-inset">
      <ion-item
            ng-repeat="team in teams.data"
            class="item-team item-remove-animate item-avatar"
            type="item-text-wrap">

        <h3 ng-if="team.teamName">{{ team.teamName }}</h3>
        <h3 ng-if="!team.teamName">Anonymous  team</h3>
        {{ team.players[0] | player_name }} and {{ team.players[1] | player_name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>