<ion-list type="list-inset">
  <div ng-repeat="player in $ctrl.playersList | orderBy:'-elo'">
    <div class="item item-avatar" href="#" ng-class="{ 'leader': $first }">
      <span class="ranking">{{ $index + 1 }}</span>
      <h2>{{player.name}}</h2>
      <p>ELO: {{player.elo}}</p>
      <img src="/img/leader.gif" class="leadergif" ng-if="$first">
      <img src="/img/loosah.jpg" class="leadergif" ng-if="$last && player.name != 'Britt'">
      <img src="/img/britt.gif" class="leadergif britt-gif" ng-if="$last && player.name == 'Britt'">
    </div>
  </div>
</ion-list>
