<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-nav-title>
      Team ranking
    </ion-nav-title>
  <ion-nav-buttons side="right">
    <!--button ui-sref="tab.newteam"
      class="button button-clear button-positive button-icon ion-plus-round"></button-->
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view view-title="Teams">
  <ion-content>
    <ion-list type="list-inset">
      <ion-item
            ng-repeat="team in $ctrl.data | teamElo | orderBy:['teamElo']:true"
            class="item-team item-remove-animate item-avatar"
            type="item-text-wrap">

        <h3 ng-if="team.teamName">{{ team.teamName }}</h3>
        {{ team.players[0] | player_name }} and {{ team.players[1] | player_name }}<br>
        Team ELO: {{ team.teamElo }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
